# DTSC670: Foundations of Machine Learning Models

## Assignment 2: COVID-19 Data Wrangling

#### Name:


### CodeGrade
Please note that this assignment will be manually graded.  **You will have one attempt at submitting this assignment.**

Since we are merely using CodeGrade for this assignment as a platform to manually grade assignments, CodeGrade will not  execute your code for this assignment. Rather, it simply renders your Jupyter Notebook in the web browser. Therefore, any code blocks that generate output must be fully executed within the notebook prior to submission. Otherwise, we will not see the output of your code!

### Details

The purpose of this assignment is to hone your data wrangling skills. Your task for this assignment is to perform the data preparation as instructed in the `DTSC670_Assignment_2` pdf listed in Brightspace. After performing all the data preparation tasks outlined in the document, run the code in the "Prepare DataFrames for Grading" section.  

You are supplied an Excel file called `BrazilCOVIDData.xlsx` - be sure to put the data file in the same directory as this Jupyter Notebook. *Please note that it may take around 5 minutes to read-in all of the data in this file.*

In [2]:
#standard imports

import pandas as pd
import numpy as np

In [3]:
#import data from excel


# setup filename and object
fileName = "BrazilCOVIDData.xlsx"
xls = pd.ExcelFile(fileName)

# import individual sheets
covid_data = pd.read_excel(xls, 'Brazil Covid-19 data')
state_temp = pd.read_excel(xls, 'Temperature by State')
state_stats = pd.read_excel(xls, 'Brazil State Stats')
city_area = pd.read_excel(xls, 'City area')

In [4]:
#merge state temperature and city area data on city name
temp_area_df= pd.merge(state_temp, city_area, how='outer', left_on="CITY", right_on="City")

#print dataframe
temp_area_df

,STATE_ABBR,STATE,CITY,IS_CAPITOL,ANNUAL,JAN,FEB,MAR,APR,MAY,...,AUG,SEP,OCT,NOV,DEC,YEARS,# CITIES,ST,City,SQ_KM
0,AC,Acre,NaN,NaN,77.2,78.0,77.9,77.4,77.1,76.0,...,76.0,77.8,78.3,78.3,78.3,28,4,NaN,NaN,NaN
1,AP,Amapa,NaN,NaN,78.5,77.4,77.0,77.6,77.8,78.1,...,79.0,79.8,80.3,80.2,79.2,23,4,NaN,NaN,NaN
2,AM,Amazonas,NaN,NaN,78.7,78.6,78.6,78.8,78.7,78.5,...,78.8,79.4,79.8,79.7,78.9,31,17,NaN,NaN,NaN
3,BA,Bahai,NaN,NaN,74.7,77.1,77.6,77.3,75.7,73.0,...,71.1,74.0,76.7,76.5,76.3,78,472,NaN,NaN,NaN
4,CE,Ceara,NaN,NaN,79.1,80.0,79.2,77.8,77.9,77.6,...,78.5,79.9,80.8,80.9,81.0,78,341,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,TO,TOCANTINS,"PARANÃ, TOCANTINS",NaN,77.0,77.0,77.2,77.9,77.9,76.1,...,75.9,79.7,79.5,78.1,77.5,30,1,NaN,NaN,NaN
59,TO,TOCANTINS,"PEIXE, TOCANTINS",NaN,78.1,77.9,77.9,78.3,78.8,78.1,...,78.1,80.8,80.2,79.0,77.9,30,1,NaN,NaN,NaN
60,TO,TOCANTINS,"PORTO NACIONAL, TOCANTINS",NaN,79.0,77.9,77.7,78.1,79.0,79.2,...,80.4,82.4,80.4,79.3,78.3,30,1,NaN,NaN,NaN
61,TO,TOCANTINS,"TAGUATINGA, TOCANTINS",NaN,76.3,75.6,75.7,75.9,76.3,75.6,...,77.2,79.9,78.3,76.5,75.7,30,1,NaN,NaN,NaN
62,TO,TOCANTINS,"TUPIRAMA, TOCANTINS",NaN,78.6,77.5,77.7,78.1,78.8,79.2,...,79.5,81.0,79.5,78.6,77.9,30,1,NaN,NaN,NaN

In [5]:
#list of values from 'IS_CAPITOL' column if city is a capital city
is_capital = ['Y', 'y']

#filter out data for capital cities
temp_area_capital_df = temp_area_df[temp_area_df['IS_CAPITOL'].isin(is_capital)]

#filter out certain columns from dataframe 
temp_area_capital_df = temp_area_capital_df[['STATE_ABBR','STATE', 'CITY', 'IS_CAPITOL','ANNUAL', 'SQ_KM']]

#print dataframe
temp_area_capital_df

,STATE_ABBR,STATE,CITY,IS_CAPITOL,ANNUAL,SQ_KM
30,AC,Acre,Rio Branco,Y,76.6,8835.000
31,AL,Alagoas,Maceió,Y,76.6,511.000
32,AP,Amapa,Macapá,Y,79.9,6407.000
33,AM,Amazonas,Manaus,Y,81.0,11400.000
34,BA,Bahai,Salvador,Y,77.5,693.800
35,CE,Ceara,Fortaleza,Y,79.9,313.800
36,DF,Distrito Federal,Brasília,Y,69.1,5802.000
37,ES,Espirito Santo,Vitória,Y,75.6,93.380
38,GO,Goias,Goiânia,y,73.8,739.000
39,MA,MARANHAO,São Luís,y,79.0,827.141
40,MT,Mato Grosso,Cuiabá,y,80.0,3292.000
41,MS,Mato Grosso do Sul,Campo Grande,y,73.0,8096.000
42,MG,Mina Gerais,Belo Horizonte,y,70.0,330.900
43,PA,Para,Belém,y,78.6,1059.400
44,PB,Paraiba,João Pessoa,y,79.0,211.500
45,PR,Parana,Curitiba,y,62.2,432.170
46,PE,Pernambuco,Recife,y,78.1,218.000
47,PI,Piaui,Teresina,y,82.0,1390.000
48,RJ,Rio de Janerio,Rio de Janeiro,y,75.6,1260.000
49,RN,Rio Grande do Norte,Natal,y,80.0,169.300
50,RS,Rio Grande do Sol,Porto Alegre,y,67.1,496.800
51,RO,Rondonia,Porto Velho,y,78.1,34091.000
52,RR,Roraima,Boa Vista,y,81.3,5687.000
53,SC,Santa Cantarina,Florianópolis,y,68.7,675.400
54,SP,Sao Paulo,São Paulo,y,68.7,1520.000
55,SE,Sergipe,Aracaju,y,78.8,181.857
56,TO,TOCANTINS,Palmas,Y,77.0,2220.000

In [9]:
#create list of capital cities
capital_cities= ['Rio Branco', 'Maceió', 'Macapá', 'Manaus', 'Salvador', 'Fortaleza', 'Brasília', 'Vitória', 'Goiânia',
                'São Luís', 'Cuiabá', 'Campo Grande', 'Belo Horizonte', 'Belém', 'João Pessoa', 'Curitiba', 'Recife',
                 'Teresina', 'Rio de Janeiro', 'Natal', 'Porto Alegre', 'Porto Velho', 'Boa Vista', 'Florianópolis',
                 'São Paulo', 'Aracaju', 'Palmas']

#filter covid data for municipalities that match capital cities
covid_data_df = covid_data[covid_data['Municipality'].isin(capital_cities)]

#print dataframe
covid_data_df

,Region,State,Municipality,State-code,Municipality-code,Health-region-code,Health-region-name,Date,Week #,Population as of 2019,Accumulated cases,New cases,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan
7663,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-27,13,529544,0,0,0,0,NaN,NaN,1.0
7664,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-28,13,529544,5,5,0,0,NaN,NaN,1.0
7665,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-29,14,529544,5,0,0,0,NaN,NaN,1.0
7666,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-30,14,529544,5,0,0,0,NaN,NaN,1.0
7667,Norte,RO,Porto Velho,11,110020.0,11004.0,MADEIRA-MAMORE,2020-03-31,14,529544,6,1,1,1,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
846765,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-20,34,3015268,143759,1997,2200,52,NaN,NaN,1.0
846766,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-21,34,3015268,145452,1693,2242,42,NaN,NaN,1.0
846767,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-22,34,3015268,147127,1675,2257,15,NaN,NaN,1.0
846768,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-23,35,3015268,148998,1871,2274,17,NaN,NaN,1.0
846769,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2020-08-24,35,3015268,150519,1521,2316,42,NaN,NaN,1.0

In [11]:
#merge covid dataframe with the temperature and area data frame

#merge the two dataframes to ensure city and states match
covid_area_temp_df = pd.merge(temp_area_capital_df, covid_data_df, how='outer', left_on=["CITY", 'STATE_ABBR'], right_on=["Municipality", 'State'])

#filter out capital cities only from the dataframe
covid_area_temp_df = covid_area_temp_df[covid_area_temp_df['IS_CAPITOL'].isin(is_capital)]

#print dataframe
covid_area_temp_df

,STATE_ABBR,STATE,CITY,IS_CAPITOL,ANNUAL,SQ_KM,Region,State,Municipality,State-code,...,Date,Week #,Population as of 2019,Accumulated cases,New cases,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan
0,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,2020-03-27,13,407319,0,0,0,0,NaN,NaN,1.0
1,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,2020-03-28,13,407319,25,25,0,0,NaN,NaN,1.0
2,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,2020-03-29,14,407319,31,6,0,0,NaN,NaN,1.0
3,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,2020-03-30,14,407319,35,4,0,0,NaN,NaN,1.0
4,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,2020-03-31,14,407319,34,-1,0,0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4072,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,2020-08-20,34,299127,9923,355,68,3,NaN,NaN,1.0
4073,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,2020-08-21,34,299127,10315,392,68,0,NaN,NaN,1.0
4074,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,2020-08-22,34,299127,10505,190,73,5,NaN,NaN,1.0
4075,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,2020-08-23,35,299127,10806,301,74,1,NaN,NaN,1.0
4076,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,2020-08-24,35,299127,11015,209,76,2,NaN,NaN,1.0

In [13]:
#create days column by iterating range of values through column

#import itertools
from itertools import cycle

#create range
c = cycle(range(0,151))

#create and iterate through days column
covid_area_temp_df['days'] = [next(c) for _ in range(len(covid_area_temp_df))]

#print dataframe
covid_area_temp_df

,STATE_ABBR,STATE,CITY,IS_CAPITOL,ANNUAL,SQ_KM,Region,State,Municipality,State-code,...,Week #,Population as of 2019,Accumulated cases,New cases,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan,days
0,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,13,407319,0,0,0,0,NaN,NaN,1.0,0
1,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,13,407319,25,25,0,0,NaN,NaN,1.0,1
2,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,14,407319,31,6,0,0,NaN,NaN,1.0,2
3,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,14,407319,35,4,0,0,NaN,NaN,1.0,3
4,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,14,407319,34,-1,0,0,NaN,NaN,1.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4072,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,34,299127,9923,355,68,3,NaN,NaN,1.0,146
4073,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,34,299127,10315,392,68,0,NaN,NaN,1.0,147
4074,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,34,299127,10505,190,73,5,NaN,NaN,1.0,148
4075,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,35,299127,10806,301,74,1,NaN,NaN,1.0,149
4076,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,35,299127,11015,209,76,2,NaN,NaN,1.0,150

In [15]:
#rename two columns
covid_area_temp_df.rename(columns={'ANNUAL': 'temp', 'Population as of 2019': 'pop'},inplace = True)

#create new columns

#create days_sq column by squaring days column
covid_area_temp_df['days_sq'] = covid_area_temp_df['days']**2

#create days_cube column by cubing days column
covid_area_temp_df['days_cube'] = covid_area_temp_df['days'] **3

#creating pop_dense column by dividing population by area; also converting columns to floats for calculations
covid_area_temp_df['pop_dense'] = (covid_area_temp_df['pop'].astype(float)) / (covid_area_temp_df['SQ_KM'].astype(float))

#creating pop_dense_sq column by squaring the population density
covid_area_temp_df['pop_dense_sq'] = covid_area_temp_df['pop_dense']**2

#print dataframe
covid_area_temp_df

,STATE_ABBR,STATE,CITY,IS_CAPITOL,temp,SQ_KM,Region,State,Municipality,State-code,...,Accumulated deaths,New deaths,New Recoveries,New followups (?),Interior/Metropolitan,days,days_sq,days_cube,pop_dense,pop_dense_sq
0,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,0,0,NaN,NaN,1.0,0,0,0,46.102886,2125.476120
1,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,0,0,NaN,NaN,1.0,1,1,1,46.102886,2125.476120
2,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,0,0,NaN,NaN,1.0,2,4,8,46.102886,2125.476120
3,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,0,0,NaN,NaN,1.0,3,9,27,46.102886,2125.476120
4,AC,Acre,Rio Branco,Y,76.6,8835.0,Norte,AC,Rio Branco,12,...,0,0,NaN,NaN,1.0,4,16,64,46.102886,2125.476120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4072,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,68,3,NaN,NaN,1.0,146,21316,3112136,134.741892,18155.377431
4073,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,68,0,NaN,NaN,1.0,147,21609,3176523,134.741892,18155.377431
4074,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,73,5,NaN,NaN,1.0,148,21904,3241792,134.741892,18155.377431
4075,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,74,1,NaN,NaN,1.0,149,22201,3307949,134.741892,18155.377431
4076,TO,TOCANTINS,Palmas,Y,77.0,2220.0,Norte,TO,Palmas,17,...,76,2,NaN,NaN,1.0,150,22500,3375000,134.741892,18155.377431

In [17]:
# Get Final Features DataFrame

features = covid_area_temp_df[['days_cube', 'days_sq', 'days', 'temp', 'pop_dense_sq', 'pop_dense', 'pop']]

# Get Final Response DataFrame

response = covid_area_temp_df[['Accumulated cases']]

# Prepare DataFrames for Grading

**Do not make changes to the below code**

After completing all data preparation tasks, run the following four cells to prepare your DataFrame for grading by:

1. Outputting the `features` and `response` DataFrames (you do not need to print).

2. Using the NumPy [around()](https://numpy.org/doc/stable/reference/generated/numpy.around.html) function to round all the values in both DataFrames to ___ZERO decimal places___.  You are calling these `features_round` and `response_round`, respectively.

3. Computing the sum of every column for both `features_round` and `response_round`, and saving those values as `features_final` and `response_final`.

___Finally, you are printing your final answer using the `print()` function.___

___Be sure to run all cells of your notebook prior to submitting, so that all output is rendered, visible and there are no error messages.___

In [18]:
features

      days_cube  days_sq  days  temp  pop_dense_sq   pop_dense     pop
0             0        0     0  76.6   2125.476120   46.102886  407319
1             1        1     1  76.6   2125.476120   46.102886  407319
2             8        4     2  76.6   2125.476120   46.102886  407319
3            27        9     3  76.6   2125.476120   46.102886  407319
4            64       16     4  76.6   2125.476120   46.102886  407319
...         ...      ...   ...   ...           ...         ...     ...
4072    3112136    21316   146  77.0  18155.377431  134.741892  299127
4073    3176523    21609   147  77.0  18155.377431  134.741892  299127
4074    3241792    21904   148  77.0  18155.377431  134.741892  299127
4075    3307949    22201   149  77.0  18155.377431  134.741892  299127
4076    3375000    22500   150  77.0  18155.377431  134.741892  299127

[4077 rows x 7 columns]

In [19]:
response

      Accumulated cases
0                     0
1                    25
2                    31
3                    35
4                    34
...                 ...
4072               9923
4073              10315
4074              10505
4075              10806
4076              11015

[4077 rows x 1 columns]

In [20]:
features_round = np.around(features, decimals=0)
features_final = features_round.sum(axis=0)
print(features_final)

days_cube                                              3462901875
days_sq                                                  30679425
days                                                       305775
temp                                                     309550.0
pop_dense_sq                                        61867551182.0
pop_dense                                              11277284.0
pop             4073194073194073194073194073194073194073194073...
dtype: object

In [21]:
response_round = np.around(response, decimals=0)
response_final = response_round.sum(axis=0)
print(response_final)

Accumulated cases    61281356
dtype: int64